<div>
  <!-- <mat-form-field> -->
    <div>
      <input matInput placeholder="Title" [(ngModel)]="task.title">
    </div>

    <div>
      <input matInput placeholder="Description" [(ngModel)]="task.description">
    </div>

    <div>
      <select  [(ngModel)]="task.status">
        <option *ngFor="let status of statuses" [value]="status.code">{{status.statusName}}</option>
      </select>
    </div>
    <!-- </mat-form-field> -->
    <button (click)="onSave()">Save</button>
    <button (click)="onClose()" >Cancel</button>

</div>
