<div>
  <h2 mat-dialog-title> Add Task</h2>
  <mat-dialog-content>
    <div>
      <label>Title</label><br>
      <input matInput [(ngModel)]="task.title">
    </div>

    <div>
      <label>Description</label><br>
      <input matInput [(ngModel)]="task.description">
    </div>

    <div>
      <label>Status</label><br>
      <select [(ngModel)]="task.status">
        <option *ngFor="let status of statuses" [value]="status.code">{{status.statusName}}</option>
      </select>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="onSave()">Save</button>
    <button (click)="onClose()">Cancel</button>
  </mat-dialog-actions>
</div>
