<mat-card id="matCard{{task.id}}"   [ngStyle]="color" style="background-color: lightgray" mat-theme-watch [dragDirective]='item' [dragHightlight]="'highlight'" (startDrag)="startDrag()">
  <mat-card-content (click)="openDialog()">
    <span>
      <h4>{{task.title}}</h4>
      <mat-chip-list>
        <mat-chip [ngStyle]="chipBackground" >
          <mat-select [(ngModel)]=task.status (ngModelChange)="onChangeStatus()">
            <mat-option *ngFor="let status of statuses" [value]="status.code">
              {{status.statusName}}
            </mat-option>
          </mat-select>
        </mat-chip>
      </mat-chip-list>
    </span>
    <p>{{task.description}}</p>
  </mat-card-content>
</mat-card>
