/* You can add global styles to this file, and also import other style files */
html,body {
  height:100%;
  min-height:100%;  
}

.gridClass > figure.mat-figure {
  justify-content: flex-start !important;
  align-items: flex-start !important;
  padding-top: 20px
}

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"